<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAzEHG55CqP_pk5zfYmN-5L8vnWGpAgM6Q</string>
	<key>GCM_SENDER_ID</key>
	<string>889907876477</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ioPage</string>
	<key>PROJECT_ID</key>
	<string>stellararm-link</string>
	<key>STORAGE_BUCKET</key>
	<string>stellararm-link.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:889907876477:ios:199a4590283a3b95fa5714</string>
</dict>
</plist>